/* CSS declarations go here */

body {
    font-family: 'Helvetica Neue', Helvetica;

    }

#left {
    cursor: pointer;
    display: inline;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 50px;
    height: 1000px;
}

.tab.selected {
    background-color:yellow;
}

#right {
    display: inline;
    margin-top: 10px;
}

#loremIpsem {
    width: 75%;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.enrollment_form{ 
    display:inline;
    }

