/* CSS declarations go here */

#left {
    cursor: pointer;
    display: inline;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 50px;
}

#right {
    display: inline;
}


