table {
text-align:left;
padding-bottom:10px;
position:relative;

}

th {
text-align: left;
background-color:#b8b8b5;
}

th:empty {
    background:transparent;
    border:none;
}

table tr:nth-child(even){
    background-color:#eeeeee;
}

table tr:nth-child(odd){
    background-color:#f6f6f6;
}

th {
padding:6px;
}

td {
padding:6px;
}

caption {

text-align:left;
margin-top:40px;
padding-top:0px;
padding-bottom:10px;
margin-left:0px;
font-weight:bold;
/*background-color: #b8b8b5;*/
}